.container {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    width: 800px;
    -webkit-box-shadow:inset 0px 0px 0px 5px gray;
    -moz-box-shadow:inset 0px 0px 0px 5px gray;
    box-shadow:inset 0px 0px 0px 5px gray;
}


.grid {
    -webkit-box-shadow:inset 0px 0px 0px 1px gray;
  -moz-box-shadow:inset 0px 0px 0px 1px gray;
  box-shadow:inset 0px 0px 0px 1px gray;
}