.container {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    width: 800px;
    margin-top: 30px;
}


.grid {
    -webkit-box-shadow:inset 0px 0px 0px 1px gray;
  -moz-box-shadow:inset 0px 0px 0px 1px gray;
  box-shadow:inset 0px 0px 0px 1px gray;
}

.changecolor {
    background-color: red;
}